## Python 3.7
#git+https://github.com/linnabraham/panstamps@master#egg=panstamps
h5py==2.10.0
astropy
tensorflow-gpu==1.15
Keras==2.2.4
protobuf==3.20.*
matplotlib
pandas
Pillow
requests
scipy
scikit-learn
scikit-image
# development
ipykernel
opencv-python
# catalogue download
docopt
fundamentals
tqdm
